<br>
<br>
<div class="container col-4 my-3">
    <div class="row">
        <div class="bg-white">
            <h3 style="text-align: center;">Seleccione una opcion</h3>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="container col-8" style="text-align: center;">
        <div class="row justify-content-around">
            <div class="col-4">
                <button class="btn btn-secondary">Registrar cita</button>
            </div>
            <div class="col-4">
                <button class="btn btn-secondary">Consultar cita</button>
            </div>
            <div class="col-4">
                <button class="btn btn-secondary">Actualizar cita</button>
            </div>
        </div>
        <br>
        <br>
        <div class="col-12">
            <button class="btn btn-secondary">Informacion del personal medico</button>
        </div>
</div>
