<br>
<br>
<div class="container col-4 my-3">
    <div class="row">
        <div class="bg-white">
            <h3 style="text-align: center;">Consultar Citas</h3>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="container col-8" style="text-align: center;">
    <div class="row justify-content-around">
        <div class="col-4">
            <label for="nombre" class="form-label">Actualizar Cita</label>
            <input type="text" class="form-control" id="actualizarCita" autofocus />
        </div>
        <div class="col-4">
            <label for="nombre" class="form-label">Citas Proximas</label>
            <input type="text" class="form-control" id="citasProximas" autofocus />
        </div>
        <div class="col-4">
            <label for="nombre" class="form-label">Agendar Citas</label>
            <input type="text" class="form-control" id="agendarCitas" autofocus />
        </div>
    </div>
</div>
