<br>
<br>
<div class="container col-4 my-3">
    <div class="row">
        <div class="bg-white">
            <h3 style="text-align: center;">Registro de Usuario</h3>
            <br>
            <br>
        </div>
    </div>
</div>
<div class="container col-8" style="text-align: center;">
    <div class="row justify-content-around">
        <div class="col-4">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" autofocus />
        </div>
        <div class="col-4">
            <label for="nombre" class="form-label">Apellido Paterno</label>
            <input type="text" class="form-control" id="apellidoPaterno" autofocus />
        </div>
        <div class="col-4">
            <label for="nombre" class="form-label">Apellino Materno</label>
            <input type="text" class="form-control" id="apellinoMaterno" autofocus />
        </div>
    </div>
</div>
<br>
<div class="container col-8" style="text-align: center;">
    <div class="row justify-content-around">
        <div class="col-4">
            <label for="nombre" class="form-label">Correo</label>
            <input type="text" class="form-control" id="correo" autofocus />
        </div>
        <div class="col-4">
            <label for="nombre" class="form-label">Contraseña</label>
            <input type="text" class="form-control" id="contraseña" autofocus />
        </div>
        <div class="col-4">
            <label for="nombre" class="form-label">Confirmar Contraseña</label>
            <input type="text" class="form-control" id="confirmarContraseña" autofocus />
        </div>
    </div>
</div>
